@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$margin: 30px;

* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'JetBrains Mono', monospace;

}

.error {
  border: 2px red solid;
  color: red;
  margin: $margin;
  padding: 14px;
}

.location-title {
  margin: $margin;

  span {
    display: block;
    font-size: 10px;
  }
}

.location-input {
  display: block;
  margin: $margin;
}

.location-suggestions {
  margin: $margin;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;

    &:hover {
      background: white;
    }
  }
}

.unit-toggler {
  margin: $margin;
}

.weather-panels {
  margin: 0 $margin;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.weather-panel {
  font-size: 14px;
  margin-right: $margin;

  &__date {
    font-size: 12px;
  }
}
